# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# OS files
.DS_Store

# Streamlit cache
.streamlit/

# Audio / temp files
*.wav
*.mp3
*.m4a

# Logs
*.log
